data
32_bit_integers.bin.gz
vocabularData.py
dataLoader.py
readVocabular.py
32_bit_integers_test.bin.gz
test
time_test.txt
allStrings
32_bit_integers_dataset_compressed
custom_binary_tokenizer.json
skript.py
.idea\

